DirectoryIndex index.php getpm.sh php7.sh php5.sh
Options -Indexes

RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://getpm.reh.tw/$1 [R,L]

ErrorDocument 403 /page/error/403.php
ErrorDocument 404 /page/error/404.php
ErrorDocument 500 /page/error/500.php